footer.site-footer {
    padding: 20px 0 var(--section-separation) 0;
    font-size: 1.8rem;
    line-height: 2;
    margin-top: var(--section-separation);

    &:before {
        content: "";
        display: block;
        height: 2px;
        width: 80px;
        background: var(--body-text-color);
        margin-bottom: 20px;
    }

    .copyright {
        color: var(--accent-color-darker);
        font-weight: normal;
        margin-bottom: 20px;
    }

    .powerby {
        color: var(--powerby-text-color);
        font-weight: normal;
        font-size: 1.4rem;

        a {
            color: var(--accent-color-darker);
        }
    }
}
