/*!
*   Hugo Theme Stack
*
*   @author: Jimmy Cai
*   @website: https://jimmycai.com
*   @link: https://github.com/CaiJimmy/hugo-theme-stack
*/

@import "breakpoints";
@import "variables";
@import "grid";

@import "external/normalize";

@import "partials/menu";
@import "partials/article";
@import "partials/widgets";
@import "partials/footer";
@import "partials/pagination";
@import "partials/sidebar";
@import "partials/base";
@import "partials/layout/archives";
@import "partials/layout/article";
@import "partials/layout/list";
@import "partials/layout/404";
@import "partials/layout/search";

@import "custom";

a {
    text-decoration: none;
    color: var(--accent-color);

    &:hover {
        color: var(--accent-color-darker);
    }

    &.link {
        box-shadow: 0px -2px 0px rgba(var(--link-background-color), var(--link-background-opacity)) inset;
        transition: all 0.3s ease;

        &:hover {
            box-shadow: 0px -10px 0px rgba(var(--link-background-color), var(--link-background-opacity-hover)) inset;
        }
    }
}

.section-title {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    display: block;
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--body-text-color);

    a {
        color: var(--body-text-color);
    }
}
