$defaultTagBackgrounds: #8ea885, #df7988, #0177b8, #ffb900, #6b69d6;
$defaultTagColors: #fff, #fff, #fff, #fff, #fff;

[data-scheme="light"] {
  --pre-text-color: #272822;
  --pre-background-color: #909399;
  @import "partials/highlight/light";
}

[data-scheme="dark"] {
  --pre-text-color: #f8f8f2;
  --pre-background-color: #272822;
  @import "partials/highlight/dark";
}

/*
*   Global style
*/
:root {
  @media (min-width: $on-phone + 1) {
    --main-top-padding: 35px;
  }

  @media (min-width: $on-desktop-large) {
    --main-top-padding: 50px;
  }

  --body-background: #fafafa;

  --accent-color: #48a0d9;
  --accent-color-darker: #909399;
  --accent-color-text: #fff;
  --body-text-color: #909399;
  --powerby-text-color: #c0c4cc;
  --section-text-color: #606266;
  --title-text-color: #242424;

  --tag-border-radius: 4px;

  --section-separation: 40px;

  [data-scheme="dark"] {
    --body-background: #242424;
    --accent-color: rgba(255,255,255,0.92);
    --accent-color-darker: #808388;
    --accent-color-text: #606266;
    --body-text-color: #909399;
    --powerby-text-color: #484A4D;
    --section-text-color: #c0c4cc;
    --title-text-color: #fafafa;
  }
}

/**
*   Global font family
*/
:root {
  --sys-font-family: "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", "Droid Sans", "Helvetica Neue";
  --zh-font-family: "PingFangSC-Light", "Hiragino Sans GB", "Droid Sans Fallback", "Microsoft YaHei";

  --base-font-family: "Lato", var(--sys-font-family), var(--zh-font-family), sans-serif;
  --code-font-family: Fira Code, Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*
*   Card style
*/
:root {
  --card-background: #fff;
  --card-background-selected: #eaeaea;

  --card-text-color-main: #242424;
  --card-text-color-secondary: #909399;
  --card-text-color-tertiary: #c0c4cc;
  --card-separator-color: #f0f0f0;

  --blockquote-border-color: #48a0d933;

  --card-border-radius: 16px;

  --card-padding: 20px;
  @media (max-width: $on-desktop-large) {
    --card-padding: 25px;
  }
  @media (max-width: $on-tablet) {
    --card-padding: 20px;
  }

  --small-card-padding: 25px;
  @media (max-width: $on-tablet) {
    --small-card-padding: 25px 20px;
  }

  [data-scheme="dark"] {
    --card-background: #343434;
    --card-background-selected: #343434;
    --card-text-color-main: rgba(255, 255, 255, 0.9);
    --card-text-color-secondary: rgba(255, 255, 255, 0.6);
    --card-text-color-tertiary: rgba(255, 255, 255, 0.4);
    --card-separator-color: rgba(255, 255, 255, 0.08);
    --blockquote-border-color: #48a0d922;
  }
}

/**
*   Article content font settings
*/
:root {
  --article-font-family: "Lato", PingFangSC-Light, var(--base-font-family);
  --article-font-size: 1.8rem;
  @media (max-width: $on-tablet) {
    --article-font-size: 1.75rem;
  }
  --article-line-height: 2.5;
}

/*
*   Article content style
*/
:root {
  --blockquote-border-size: 10px;
  --blockquote-background-color: #f8f8f8;

  --heading-border-size: 4px;
  //--heading-margin-top: 30px;

  --link-background-color: 189, 195, 199;
  --link-background-opacity: 0.65;
  --link-background-opacity-hover: 0.35;

  --pre-background-color: #272822;
  --pre-text-color: #f8f8f2;

  --code-background-color: rgba(0, 0, 0, 0.06);
  --code-text-color: #e41749;

  --table-border-color: #dadada;
  --tr-even-background-color: #efefee;

  [data-scheme="dark"] {
    --code-background-color: #484848;
    --code-text-color: #f5587b;

    --table-border-color: #717171;
    --tr-even-background-color: #545454;

    --blockquote-background-color: rgb(75 75 75);
  }
}

/*
*   Shadow style
*   Thanks to https://www.figma.com/community/plugin/744987207861965946/Shadow-picker
*/
:root {
  --shadow-l1: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l2: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l3: 0px 10px 20px rgba(0, 0, 0, 0.04), 0px 2px 6px rgba(0, 0, 0, 0.04), 0px 0px 1px rgba(0, 0, 0, 0.04);
  --shadow-l4: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
  0px 0px 1px rgba(0, 0, 0, 0.04);
}
